@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-base: "Rubik", sans-serif;
  --color-red: #f93634;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 0px;
}
