---
---

<section
  class="w-full h-screen bg-gray-900 flex flex-row items-center justify-center"
>
  <model-viewer
    src="/portfolio.glb"
    style="width: 100%; height: 70vh;"
    auto-rotate
    rotation-per-second="50deg"></model-viewer>
</section>

<script>
  import "@google/model-viewer";
</script>
